{% load static %}

<!DOCTYPE html>
<html lang="zh_CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="{% static 'image/tx.png' %}" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <title>尧的闲置物品</title>

  </head>


  <body>

  <div class='container'>
    <div class="row">
      <div class="col-8" style="background-color:lavender;">
        <H3><a href="{% url 'index' %}">出闲置物品</a></H3>
	<p class="font-weight-bold">说明：</p>
        <p>物品分为两部分，我自己免费从别人那里得到的就免费出，自己买的一律半价出。</p>
        <p>所有物品均可保证使用品质。谢谢！</p>
      </div>
      <div class="col-4" style="background-color:lavender;">
        <div class="dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">物品</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'free' %}">免费</a>
            <a class="dropdown-item" href="{% url 'half' %}">半价</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12" style="background-color:lavender;">
      {% block category %}
        <H4 class="text-center">欢迎光临，右上方选择种类</H4>
	<p><H5 class="text-center">如有选中的物品，可通过下方二维码与我联系。</p>
	<p><img src='image/qr.png' width=80%></p>
      {% endblock category %}
      </div>
    </div> 
  </div>
  </body>
</html>
